<div class="popCard" ng-controller="dialogAddCtrl">
  <p><h3>Add item</h3></p>
  <form action="" name="addForm">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Name" ng-model="item.title" required>
      <input type="text" class="form-control" placeholder="Author" ng-model="item.author" required>
      <input type="text" class="form-control" placeholder="Like" ng-model="item.like" required>
      <input type="text" class="form-control" placeholder="Comment" ng-model="item.comment" required>
    </div>
    <div class="btn-group" role="group" aria-label="...">
      <input type="submit" class="btn btn-success" ng-click="addSingle(addForm,item)">
      <button type="button" class="btn btn-default" ng-click="cancel()" id="cancel">cancel</button>
    </div>
  </form>
</div>
<link rel="stylesheet" href="../assets/styles/dialog.css">
