<!--login interface-->
<div class="row">
  <div class="col-md-4 col-md-offset-4" id="login">

      <h2>Login</h2>
      <br/>
      <hr/>
      <br/>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Username">
      </div>
      <br/>
      <div class="input-group">
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <br/>
      <div class="btn-group">
        <a type="button" class="btn btn-success" ui-sref=".authorize">Login</a>
      </div>

      <div ui-view></div>

  </div>
</div>





<link rel="stylesheet" href="assets/styles/login.css">
